
html, body {
    background-color: #f7f5f4;
    text-align:center;
	font-family:"arial";
    height:100%;
    margin:0;
    padding:0;
}

table, td, th {
    font-size: 1em;
    border: 1px solid #b5aab3;
	margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: #e1ebed;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #b5aab3;
    color: #ffffff;
}

