{% load staticfiles %}
<!DOCTYPE html>
<head>
<title>SQR-Trading</title>
<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>


<body>
	<div id="NavBar">
<!--	<h1>SQR-Trading</h1>-->
<!--	<h1>StockScreener</h1>-->
	<ul>
		<li><a href="admin.sqrtrading.com">Home</a></li
		<span class="label"><a href="admin.sqrtrading.com">StockScreener</a></span>
		<span class="label"><a href="admin.sqrtrading.com">Tutorial</a></span>
<!--		<h2>........</h2> <br>-->
		
	</ul>
	</div>
    {% block content %} {% endblock %}


<!--	<select id="nav_v2" onchange="window.location.href = this.options[this.selectedIndex].value">-->
<!--	<option selected="selected" value="">Choise Page...</option>-->
<!--	<option value="#">StockScreener</option>-->
<!--	<option value="#">Submenu A</option>-->


</body>
