{% load staticfiles %}
<!DOCTYPE html>
<head>
<title>SQR-Trading</title>
<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>


<body>
	<div id="NavBar">
	<h1>StockScreener</h1>
<!--			<ul>-->
<!--<!--				<li><img src="favicon.ico" width="28" height="28" alt="PhotoProfil" /></li>-->
<!--				<li onclick="window.location.href='index.php'">My Blog</li>-->
<!--				<li onclick="window.location.href='index.php'">Tutorials</li>-->
<!--				<li onclick="window.location.href='index.php'">Downloads</li>-->
<!--				<li onclick="window.location.href='index.php'">About</li>-->
<!--			</ul>-->
	</div>
    {% block content %} {% endblock %}
</body>
