{% extends "base.html" %}
{% block content %}

<div id="datatab">
<table>
{% for n in signals %}
    <tr>
        <td><a href="https://fr.finance.yahoo.com/echarts?s={{ n.BBG }}#symbol={{ n.BBG }};range=1d" target="_blank"> {{ n.BBG }}</td>	
        <td>{{n.Close}}</td>
        <td>{{n.lastUpdate|date:"d/m/Y"}} {{ n.lastUpdate|time:"H:i" }}</td>
        <!-- <td><a href="https://fr.finance.yahoo.com/echarts?s={{ n.BBG }}#symbol={{ n.BBG }};range=1d" target="_blank"> Chart</a></td> -->
    </tr>
{% endfor %}
{{ getLastClose }}
</table>
</div>

{% endblock %}



